[submodule "external/googletest"]
	path = external/googletest
	url = ../../lukashuebner/googletest.git
[submodule "external/libdivsufsort"]
	path = external/libdivsufsort
	url = ../../lukashuebner/libdivsufsort.git
